:root {
    /*Border colors*/
    --color-default: #dbdbdb ;
    --color-focus: #5e69ff;
    --color-valid: #23831a ;
    --color-invalid: #f13636;

    --color-primary: #596D48;
}

/*Styles Reset Minimal*/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(248, 248, 248);
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

/*Basic Page Layout*/
body {
    font-family: system-ui, "Segoe UI", 
                 Roboto, Helvetica, Arial, sans-serif, 
                 "Apple Color Emoji", "Segoe UI Emoji", 
                 "Segoe UI Symbol";

    display: flex;
    overflow-y: auto;
    /*border: 10px solid black; */
}

main {
    /*Grow to fill the whole remaining space*/
    flex: 1 1 auto;
    padding-bottom: 100px;
}

em {
    font-style: italic;
}

/*Background Section*/
.header {
    background-image: url(./img/Green\ leaf\ plant\ close\ up.jpg);
    background-position: center;
    background-size: cover;

    width: 35%;

    position: relative;
}

.header > .nav {
    background-color: rgb(0 0 0 / 30%);
    backdrop-filter: blur(5px);

    width: 100%;
    height: 150px;  

    margin-top: 250px;
    background-size:contain ;

    padding: 11px;

    color: white;
}

.nav > div{
    width: 70%;
    height: 100%;

    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.nav .logo {
    height: 100%;
}

@font-face { /*Site logo font*/
    font-family: Norse-Bold;
    src: url(./font/Norse\ Bold.otf);
}

.nav .logo + .logo-name {
    font-family: Norse-Bold;
    font-size: 6rem;
    text-align: center;
    padding-top: 15px;
}

/*Background image source & credit*/
div.bg-info,
a:link,
a:visited,
a:hover,
a:active {
    color: rgba(255, 255, 255, 0.7);
}

div.bg-info {
    font-size: 0.9rem;
    /*Center horizontally*/
    width: 100%;
    text-align: center;

    /*Align to the bottom*/
    position: absolute;
    bottom: 1rem;
}

/*Main Section spacing*/
.caption {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;

    margin: 180px 10% 50px 50px;

    min-width: 20ch;
    max-width: 52ch;
}

.caption > p + p {
    margin-top: 1.5rem;
}

button[type="submit"],
div.login {
    margin-left: 50px;
}

/*Form Styling*/
#form {
    background-color: #fff;
    box-shadow: 0 7px 6px rgb(0 0 0 / 10%);
    padding: 30px 50px 20px 50px ;
}

#form > h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 30px;
}

.form-row {
    margin-bottom: 25px;
    display: flex;  
    gap: 80px;
}

.input-gp label {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: #292929;;
}

.input-gp input[type='text'],
.input-gp input[type='email'],
.input-gp input[type='tel'],
.input-gp input[type='password'] {   
    appearance: none;
    --webkit-appearance: none;

    display: block;
    border: var(--color-default) solid 1px;
    border-radius: 6px;
    outline: none;

    width: 325px;
    height: 40px;
    font-size: 1.3rem;
    padding: 8px 10px;
    margin-top: 5px;
}

button[type='submit'] {
    background-color: var(--color-primary);
    border: none;
    border-radius: 6px;

    width: 300px;
    height: 60px;

    color: white;

    font-size: 1.5rem;
    font-weight: 500;

    padding: 10px;
    margin-block: 40px;
}

div.login {
    font-size: 1.3rem;
    font-weight: 500;
}

div.login > a.login-link {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 700;
}

/*Styling for input validation*/
.input-gp > input:focus {
    border: 2px solid var(--color-focus);
    box-shadow: 5px 5px 4px #0000002f;
}



.input-gp > input[type="password"].notMatched {
    border: 2px solid var(--color-invalid);
}


.input-gp > input:user-valid {
    border: 2px solid var(--color-valid);
}

.input-gp > input[type="password"].matched {
    border: 2px solid var(--color-valid);
}

input + .input-guide {
    margin-top: 5px;
    transform: scaleY(0);
    transition: transform 0.2s ease-in-out;
    transform-origin: top;
}

input.clicked + .input-guide,
input:focus:valid + .input-guide {
    transform: scaleY(1);
}

input:user-valid + .input-guide {
    transform: scaleY(0);
}

input:user-invalid + .input-guide {
    color: var(--color-invalid);
}

.input-gp > input[type="password"].notMatched + .input-guide {
    transform: scaleY(1);
    color: var(--color-invalid);
}
.input-gp > input:user-invalid {
    border: 2px solid var(--color-invalid);
}


/*Layout on mobile device*/
@media screen and (max-width: 1180px) {
    body {
        flex-direction: column;
        text-align: center;
    }

    .header {
        width: 100%;
        height: 300px;
        background-attachment: fixed;
        background-position: top;
    }

    .header > .nav {
        width: 100%;
        height: 80px;
        margin: 0 auto 40px auto;

        position: sticky;
        top: 0px;
    }

    .header > .bg-info {
        bottom: 0.5rem;
    }

    .header > .nav .logo-name {
        font-size: 3rem;
        padding-top: 4px;
    }

    .caption {
        margin: 40px 20px 40px 20px;
        font-size: 1.5rem;
    }

    #form {
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .form-row {
        justify-content:center;
        flex-wrap: wrap;
    }

    button[type='submit'],
    button[type='submit'] + .login {
        margin-inline: 0;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-bottom: 60px;
    }
}


@media screen and (max-width: 830px) {
    .caption {
        font-size: 1.5rem;
    }

    #form > h2 {
        font-size: 1.5rem;
    }

    .form-row {
        flex-direction: column;
        gap: 30px;
    }

    .input-guide {
        font-size: 0.8rem;
    }
}