:root {
    /*Border colors*/
    --color-default: #dbdbdb ;
    --color-focus: #5e69ff;
    --color-valid: #23831a ;
    --color-invalid: #f13636;

    --color-primary: #596D48;
    --color-primary-darken: darken(#596D48, 15%);

    --color-asterisk: rgb(218, 33, 33);

    --width-input: 325px;

    --fontSize-paragraph: calc(1rem + 0.5vw);
}

/*Styles Reset Minimal*/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-width: 320px;
    height: 100vh;  /* Fallback if svh isn't supported. */
    height: 100svh;
    min-height: 900px;
    overflow-y: auto;
    
    background-color: rgb(248, 248, 248);
    font-family: system-ui, "Segoe UI", 
                 Roboto, Helvetica, Arial, sans-serif, 
                 "Apple Color Emoji", "Segoe UI Emoji", 
                 "Segoe UI Symbol";                 
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

/*Basic Page Layout*/
body {
    display: flex;
}

main {
    /*Grow to fill the whole remaining space*/
    flex: 1 1 auto;
    padding-bottom: 100px;
}

em {
    font-style: italic;
}

/*Background Section*/
.header {
    background-image: url(./img/Green\ leaf\ plant\ close\ up.jpg);
    background-size: cover;

    width: 35%;
    
    position: relative;
}

.header > .nav {
    background-color: rgb(0 0 0 / 30%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    width: 100%;
    height: 150px;  

    margin-top: 250px;
    background-size:contain ;

    padding: 11px;

    color: white;
}

.nav > div{
    width: 70%;
    height: 100%;

    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.nav .logo {
    height: 100%;
}

@font-face { /*Site logo font*/
    font-family: Norse-Bold;
    src: url(./font/Norse\ Bold.otf);
}

.nav .logo + .logo-name {
    font-family: Norse-Bold;
    font-size: 6rem;
    text-align: center;
    padding-top: 15px;
}

/*Background image source & credit*/
div.bg-info,
a:link,
a:visited,
a:hover,
a:active {
    color: rgba(255, 255, 255, 0.7);
}

div.bg-info {
    font-size: 0.9rem;
    /*Center horizontally*/
    width: 100%;
    text-align: center;

    /*Align to the bottom*/
    position: absolute;
    bottom: 1rem;
}

/*Main Section spacing*/
.caption {
    font-size: var(--fontSize-paragraph);
    font-weight: 500;
    line-height: 1.2;

    margin: 8% 10% 50px 50px;

    min-width: 20ch;
    max-width: 46ch;
}

.caption > p + p {
    margin-top: 1em;
}

button[type="submit"],
div.login {
    margin-left: 50px;
}

/*Form Styling*/
#form {
    background-color: #fff;
    box-shadow: 0 7px 6px rgb(0 0 0 / 10%);
    padding: 30px 50px 20px 50px ;
}

#form > h2 {
    font-size: var(--fontSize-paragraph);
    font-weight: 500;
    margin-bottom: 30px;
}

.form-row {
    margin-bottom: 25px;
    display: flex;  
    gap: 80px;
}

.input-gp label {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: #292929;;
}

.input-gp label > span {
    font-weight: bolder;
    color: var(--color-asterisk);
}

.input-gp input[type='text'],
.input-gp input[type='email'],
.input-gp input[type='tel'],
.input-gp input[type='password'] {   
    appearance: none;
    --webkit-appearance: none;

    display: block;
    border: var(--color-default) solid 1px;
    border-radius: 6px;
    outline: none;

    width: var(--width-input);
    height: 40px;
    font-size: 1.2rem;
    padding: 8px 10px;
    margin-top: 5px;
}

button[type='submit'] {
    background-color: var(--color-primary);
    width: 300px;
    height: 60px;
    border: none;
    border-radius: 6px;
    color: white;

    font-size: 1.5rem;
    font-weight: 500;

    padding: 10px;
    margin-top: 40px;

    position: relative;
    z-index: 1;

    /*Darken background of button*/
    &::after {
        content: "";
        width: 0%;
        height: 100%;
        background-color: var(--color-primary);
        border: none;
        border-radius: 6px;
    
        position: absolute;
        top: 0;
        left: 0;  

        z-index: -1;
        overflow: hidden;
        transition: all 0.3s;
    }

    /*Reveal darken background on hover event*/
    &:hover::after{
        width: 100%;
        filter: brightness(50%); /*Darken its own color*/
    }
}

div.login {
    margin-top: 16px;
    font-size: calc(1rem + 0.2vw);
    font-weight: 500;
}

div.login > a.login-link {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 700;
    position: relative;
    z-index: 1;

    &::after {
        position: absolute;
        left: 0;
        bottom: -5px;
        content: "";
        background-color: var(--color-primary);
        width: 0;
        height: 3px;
        z-index: -1;
        transition: 0.1s all;
    }

    &:hover::after {
        width: 100%;
    }
}

/*Styling for input validation*/
.input-gp > input:focus {
    border: 2px solid var(--color-focus);
    box-shadow: 5px 5px 4px #0000002f;
}

.input-gp > input[type="password"].notMatched {
    border: 2px solid var(--color-invalid);
}

.input-gp > input:user-valid {
    border: 2px solid var(--color-valid);
}

.input-gp > input[type="password"].matched {
    border: 2px solid var(--color-valid);
}

input + .input-guide {
    margin-top: 5px;
    transform: scaleY(0);
    transition: transform 0.2s ease-in-out;
    transform-origin: top;
}

input.clicked + .input-guide,
input:focus:valid + .input-guide {
    transform: scaleY(1);
}

input:user-valid + .input-guide {
    transform: scaleY(0);
    color: var(--color-valid);
}

input:user-invalid + .input-guide {
    color: var(--color-invalid);
}

.input-gp > input[type="password"].notMatched + .input-guide {
    transform: scaleY(1);
    color: var(--color-invalid);
}
.input-gp > input:user-invalid {
    border: 2px solid var(--color-invalid);
}

/*Layout on mobile device*/
@media screen and (max-width: 1180px) {
    body {
        display: block;
        text-align: center;
    }

    .header {
        width: 100%;
        height: 30svh;
        background-attachment: fixed;
        background-position: top;
    }

    .header > .nav {
        width: 100%;
        height: 80px;
        margin: 0 auto 40px auto;

        position: sticky;
        top: 0px;
    }

    .header > .bg-info {
        bottom: 0.5rem;
    }

    .header > .nav .logo-name {
        font-size: 3rem;
        padding-top: 10px;
    }

    .caption {
        margin: 40px 20px 40px 20px;
        font-size: 1.5rem;
    }

    #form {
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .form-row {
        justify-content:center;
        flex-wrap: wrap;
    }

    button[type='submit'],
    button[type='submit'] + .login {
        margin-inline: 0;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-bottom: 60px;
    }
}


@media screen and (max-width: 830px) {
    .header {
        height: 40svh;
    }

    .caption {
        margin-top: calc(20px + 1vw);
        font-size: calc(1rem + 1vw);
    }

    .caption > p + p {
        margin-top: 1rem;
    }

    #form {
        padding-inline: 1rem;
    }

    #form > h2 {
        font-size: calc(1.2rem + 1vw);
    }
    
    .form-row {
        flex-direction: column;
        gap: 25px;
        width: 90%;
        max-width: var(--width-input);
    }

    .input-gp input[type='text'],
    .input-gp input[type='email'],
    .input-gp input[type='tel'],
    .input-gp input[type='password'] { 
        width: 100%;
    }
    
    .input-guide {
        font-size: 0.8rem;
    }

    button[type="submit"] {
        width: 85%;
        max-width: var(--width-input);
        margin-block: 30px;
    }
}